
.box-1{
    position:fixed;
    padding-top:20px;
    width:30%;
    height:30%;
    background-color: darkgrey;
    margin-top:-20px;
    text-align:center;
}

.box-2{
    position:relative;
    padding-top: 4%;
    width:80%;
    background-color: black;
    text-align:center;

}

.box-3{
    position:absolute;
    padding:20px;
    width:20%;
    margin-left:100px;
    bottom:0px;
    right:-40px;
    text-align:center;
}
.box{
    width:80%;
    margin-left: auto;
    margin-right:auto;
}
